@page "/cover/{PostingId}"
@using RGS.Backend.Shared.ViewModels
@layout ResumeLayout

@if (isLoading)
{
  <p>Loading cover letter...</p>
}
else
{
  <PageTitle>@PageTitle</PageTitle>
  <article class="cover-letter loaded">
    @HeaderSection(posting.ResumeData)
    @BodySection(posting)
  </article>
}

@code {
  [Inject] private IPostingsService PostingsService { get; set; } = null!;
  [Parameter] public string PostingId { get; set; } = string.Empty;
  public string PageTitle => $"abradley-cover-letter-{posting.id}";

  private JobPosting posting = null!;
  private bool isLoading = true;

  protected override async Task OnInitializedAsync()
  {
    // Load posting details using PostingId
    posting = await PostingsService.GetPostingAsync(PostingId);
    isLoading = false;
  }

  private RenderFragment HeaderSection(ResumeData? resumeData) => @<header class="header">
      <div class="name-title">
        <h1>@resumeData?.Bio.Name</h1>
        <h2>@resumeData?.Bio.Title</h2>
      </div>
      <div class="contact">
        @ContactSection(resumeData)
      </div>
      <div class="background"></div>
  </header>;

private RenderFragment ContactSection(ResumeData? resumeData) => @<section>
  <p>@resumeData?.Bio.StreetAddress</p>
  <p>@resumeData?.Bio.City, @resumeData?.Bio.State @resumeData?.Bio.Zip</p>
  <p>@resumeData?.Contact?.Phone</p>
  <p>@resumeData?.Contact?.Email</p>
</section>;

private RenderFragment BodySection(JobPosting posting) => @<section class="body">
@CompanySection(posting)
@CoverLetterText(posting.CoverLetter)
@SignatureSection(posting.ResumeData)
</section>;

private RenderFragment CompanySection(JobPosting posting) => @<section class="company">
  <p>Hiring Manager</p>
  <p>@posting.PostingData.Company</p>
  <p>@posting.PostingData.StreetAddress</p>
  <p>@posting.PostingData.City, @posting.PostingData.State @posting.PostingData.Zip</p>
</section>;

private RenderFragment CoverLetterText(RGS.Backend.Shared.Models.CoverLetter? coverLetter) => @<section class="cover-letter-text">
@foreach (var paragraph in @coverLetter?.Text.Split("|", StringSplitOptions.RemoveEmptyEntries) ?? Enumerable.Empty<string>())
{
    <p>@paragraph</p>
}
</section>;

private RenderFragment SignatureSection(ResumeData? resumeData) => @<section class="signature">
  <p>Sincerely,</p>
  <p>@resumeData?.Bio.Name</p>
</section>;
}