@using BlazorBootstrap
@using RGS.Backend.Shared.ViewModels
@using System.Configuration

<div class="d-flex flex-column gap-4">
  <FormField @bind-Value="@(Model.Label)" @bind-Value:after="LabelChanged" class="col-6" Label=@("Skill Category") />
  <div class="d-flex flex-wrap gap-3 ms-3">
    @foreach (var (item, index) in @Model.Items.WithIndex())
    {
      <Badge @key="@index" Color="BadgeColor.Success" Position="Position.Relative">@item.Value<Badge style="aspect-ratio: 1 / 1; display: flex; place-items: center" IndicatorType="BadgeIndicatorType.RoundedCircle" Color="BadgeColor.Danger" Position="Position.Absolute" Placement="BadgePlacement.TopLeft" @onclick="() => RemoveSkillAt(index)">
          <Icon Name="IconName.XLg" />
        </Badge>
      </Badge>
    }
  </div>
  <div class="d-flex gap-2 place-items-center">
    <label for="@newSkillId" class="collapse">Add Skill</label>
    <input id="@newSkillId" type="text" class="col-6" @bind-value="@NewSkill" @bind-value:event="oninput" />
    <Button Type="ButtonType.Button" Color="ButtonColor.Primary" disabled="@(NewSkill is null or "")" @onclick="@AddSkill">Add Skill</Button>
  </div>
</div>

@code {
  [Parameter] public required SkillCategory Category { get; set; }
  [Parameter] public required EventCallback<SkillCategory> CategoryChanged { get; set; }
  private SkillCategoryModel Model { get; set; } = default!;
  private string NewSkill { get; set; } = "";
  private string newSkillId = Guid.NewGuid().ToString();

  private async Task AddSkill()
  {
    Model.Items.Add(new BindableString { Value = NewSkill });
    NewSkill = "";
    await CategoryChanged.InvokeAsync(Model.Unwrap());
  }

  private async Task RemoveSkillAt(int index)
  {
    Model.Items.RemoveAt(index);
    await CategoryChanged.InvokeAsync(Model.Unwrap());
  }

  private Task LabelChanged() => CategoryChanged.InvokeAsync(Model.Unwrap());

  protected override void OnParametersSet()
  {
    Model = Category.Wrap();
  }
}